<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>CodeBlog</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
</head>

<body>

	<header>
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" style="font-weight: bold;">Cadastro</span>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 60%; padding-bottom: 30px;">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb"
					style="background-color: white; padding-left: 0px;">
					<li class="breadcrumb-item active" aria-current="page">Home</li>
				</ol>
			</nav>
			<div class="row">
					<a class="btn btn-primary btn-lg col-md-5 mr-2 shadow-sm rounded"
						th:href="@{/clientes}"><i class="fas fa-users m-1"></i>
						Clientes </a>


					<a class="btn btn-success btn-lg col-md-5 ml-2 shadow-sm rounded"
						th:href="@{/fornecedores}"><i class="fas fa-truck-loading m-1"></i>
						Fornecedores</a>
			</div>
		</div>
	</section>
</body>
</html>